<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adição</title>
</head>
<style>
    .container{
        background-color: aliceblue;
        padding: 10px;
    }
</style>
<body>
    <h1>Adicionar contato</h1>
    <div id="container">
    <form method="POST">
        Nome:<input type="text" name="nome">
        Telefone:<input type="number" name="telefone">
        Email:<input type="email" name="email">
        

        <button type="submit" class="btn-submit">Adicionar</button>
    </form>
    </div>
</body>
</html>